:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

nav {
  top: 0;
  position: fixed;
  display: flex;
  text-align: left;
  left: 0;
  width: 100%;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  text-align: left
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #1a1a1a;
  cursor:text;
  transition: border-color 0.25s;
  margin: 1rem;
}

button.destroy {
  padding: 0.3em 0.6em; 
}

button.destroy:hover {
  color: #ff00ae;
}